.notFound {
  padding: 20px 20px;
  margin: 0 auto;
  width: 500px;
}

.notFoundText {
  text-align: center;
}

.notFoundLink {
  color: #ffffff;
  background-color: #4481c3;
  text-align: center;

  padding: 10px 15px;
  width: 100%;
  display: inline-block;
}
